.deleteButtonSpan {
  width: 3rem;
  font-size: 1.5rem;
  color: lightgray;
  text-align: right;
}

.addButton {
  color: lightgray;
}

.hover :hover {
  color: darkgray;
  transition: all 0.3s ease-in-out;
}

#addButtonDiv {
  display: flex;
  justify-content: flex-end;
}

#changeDate #cancel {
  color: red !important;
  background-color: pink;
}