.deleteButtonSpan {
  width: fit-content;
  height: fit-content;
  font-size: 1.1rem;
  color: lightgray;
  text-align: right;
}

.deleteButtonDiv {
  height: fit-content;
  width: fit-content;
}

.addButton {
  color: lightgray;
}

.hover :hover {
  color: darkgray;
  transition: all 0.3s ease-in-out;
}

#addButtonDiv {
  display: flex;
  justify-content: flex-end;
}