.highlight {
  border-radius: 50%;
  background-color: var(--calendar-highlight-color);
}

.circle {
  border-radius: 50%;
}

.hiddenCalendar {
  display: none;
}

.react-calendar__month-view__days__day--weekend {
  color: #850000;
}

.react-calendar__tile--active {
  background-color: var(--calendar-active-color) !important;
  color: rgb(37, 38, 39);
}

.fullWidth {
  width: 100%;
  height: auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 0.25rem;
  color: rgb(33, 37, 41);
  border-color: var(--border-color);
  background-color: var(--secondary-style-color);
}