.openDatePicker {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.react-date-picker__clear-button {
  /* // a bit hacky… */
  display: none;
}

.react-date-picker__wrapper {
  border: none;
  display: flex;
  justify-content: center;
}

.react-date-picker__inputGroup__month {
  pointer-events: none;
  width: 1.9rem !important;
}

#entryDate {
  display: flex;
  justify-content: flex-end;
}

.DayPicker-Day--highlighted {
  background-color: var(--calendar-highlight-color);
  color: white
}

.DayPicker {
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.DayPicker-Day {
  width: 40px;
  height: 40px;
}

.DayPicker-wrapper {
  outline: none !important
}