.searchBar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  justify-self: flex-start;
  align-items: flex-start;
  margin-top: 0.45rem;
}

.form-control:focus {
  background-color: var(--secondary-style-color);
}

.searchBarBorder {
  border: 1px solid var(--border-color);
  background-color: var(--secondary-style-color);
}