div.DraftEditor-root {
    background-color: #ffffff8c;
    width: 100%;
    margin: auto;
    -webkit-box-shadow: 10px 10px 26px -19px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 10px 26px -19px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 10px 26px -19px rgba(0, 0, 0, 0.49);
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
    font-size: 18px;
    font-family: 'calibri', sans-serif;
}

.add-entry {
    border-bottom: 1px solid rgb(197, 197, 197);
    cursor: pointer;

    p {
        color: rgb(197, 197, 197);
        margin-top: .7rem;
        margin-bottom: .5rem;
    }
}

.entry-header {
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: self-start;

    .title-input {
        border: none;
    }

    .entry-date {
        display: flex;
        flex-direction: row;
        align-items: center;

        .month-year {
            font-size: 12px;
            text-align: right;
            margin-right: 2px;
        }

        .day {
            font-size: 35px;
        }
    }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 1px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.highlight {
    border-radius: 50%;
    background-color: #F2F2F2;
}

.circle {
    border-radius: 50%;
}

.hiddenCalendar {
    visibility: hidden;
}

.react-date-picker__clear-button {
    // a bit hacky…
    display: none;
}

.react-date-picker__wrapper {
    border: none;
    display: flex;
    justify-content: center;
}

.resultList {
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    align-items: flex-start;
}

.resultTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
    font-size: 88%;
    margin: 0;
}

.resultDate {
    color: lightgray;
    font-size: 85%;
    margin: 0;
}

.resultListText {
    font-size: 85%;
    line-height: 1rem;
    color: #3d3d3d;
}

.resultListPadding {
    padding: 0.4rem;
}

.deleteButtonSpan {
    width: 3rem;
    font-size: 1.5rem;
    color: lightgray;
    // border: 1px solid red;
    text-align: right;
}

.hover :hover {
    color: darkgray;
    transition: all 0.3s ease-in-out;
}

.react-date-picker__inputGroup__month {
    pointer-events: none;
    width: 1.7rem !important;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    /*border: none; - if you want the border removed*/
}

.openDatePicker {
    display: flex;
    justify-content: center;
}